# Supabase — proyecto "Gescomp"
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=          # solo uso server-side (Server Actions), nunca en el cliente

# Identificador del proyecto para generar tipos (supabase gen types)
SUPABASE_PROJECT_ID=

# App
NEXT_PUBLIC_APP_NAME=Gescomp
